


div.header {
    background-color: cornflowerblue;
    height: 70px;
    padding-top: 10px;
    color: white;
}

div.sidebar{
    background-color: coral;
    min-height: 400px;
    padding-top: 30px;
}

div.content {
    background-color: beige;
    min-height: 400px;
    padding-top: 30px;
}

div.tarea {
    border: 1px solid coral;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}