body {
  margin-top: 100px;
}
div.cabecera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2em;
  color: #fff;
  background-color: rgba(0, 128, 128, 0.658);
}
