.caja {
  background-color: aqua;
  width: 100%;
  height: 200px;
}

div.caja.especial {
  background-color: red;
}

/* Ejercicio 1 */

@media only screen and (max-width: 799px) {
  .box-799 {
    background-color: #42ac42;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  .text1 {
    text-align: center;
  }

  .text2 {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .box-800 {
    background-color: red;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  .text1 {
    display: none;
  }
  .text2 {
    text-align: center;
  }
}

/* Ejercicio 2 */
.caja-1,
.caja-2 {
  text-align: center;
  color: white;
  margin-top: 15px;
  transition: 1s;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
}
.caja-1:hover,
.caja-2:hover {
  opacity: 0.8;
  cursor: pointer;
}
.caja-1:hover {
  background-color: #42ac42;
}
.caja-2:hover {
  background-color: #e24e4e;
}

.caja-1 {
  background-color: green;
}
.caja-2 {
  background-color: red;
}

/* Ejercicio 5 */

.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.text-center {
  text-align: center;
}
