div.cuadrado {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 10px;
}

p.especial {
  background-color: beige;
  color: blue;
}

div.cuadrado.verde {
  background-color: green;
}

/* Ejercicio 1 */
div.cuadrados {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 10px;
  transition: 1s;
}

div.cuadrados.circulos {
  background-color: green;
  border-radius: 50%;
}

div.cuadrados.poner_blue {
  background-color: blue;
}

/* EJERCICIO 3 */

table,
th,
td {
  margin-top: 30px;
  border: 1px solid black;
  height: 20px;
  text-align: center;
}

/* EJERCICIO 4 */
div#menos,
div#mas {
  display: inline-block;
  margin: 0;
  border: 1px solid black;
}
