body {
  padding: 50px;
  background-color: beige;
}
h1 {
  color: brown;
  margin-top: 50px;
}

.pos-fix {
  top: 0;
  position: fixed;
  width: 100%;
}
.cabecera-index {
  background-color: rgba(255, 255, 255, 0.9);
}
.return a {
  position: absolute;
  height: 100%;
  width: 100%;
}
.return {
  position: fixed;
  top: 30px;
  background-image: url(imgs/arrow.png);
  background-size: 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: 1s;
  z-index: 100;
}

.return:hover {
  opacity: 0.5;
  background-size: 60px;
  width: 60px;
  height: 60px;
}

.courierfont {
  font-family: courier;
  font-size: 0.8em;
}

.word-spacing {
  word-spacing: 2em;
}

a:link {
  color: #000;
  font-style: italic;
}

#img_perfil {
  width: 60px;
  margin: 0;
}
.img_name {
  position: absolute;
  right: 60px;
  top: 10px;
  text-align: center;
  transition: 1s;
}

.img_name:hover {
  cursor: pointer;
  opacity: 0.8;
}
.name {
  position: relative;
}

.lista_ejericios a {
  text-decoration: none;
  transition: 1s;
  color: #000;
}

.lista_ejericios a li {
  list-style-type: none;
  text-align: center;
  border: 1px #000 solid;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  line-height: 7em;
  transition: 1s;
  margin-top: 10px;
}
.lista_ejericios a li {
  display: inline-block;
}
.lista_ejericios li:hover {
  cursor: pointer;
  background-color: #000;
}
.lista_ejericios a:link li {
  color: #000;
}

.lista_ejericios a li:hover {
  color: #ffffff;
}

.bloque_texto {
  width: 30%;
  text-align: center;
  display: inline-block;
  padding: 10px;
}
.bloque_texto:nth-child(1n) {
  border-right: solid rgba(0, 0, 0, 0.5) 1px;
}
.bloque_texto:nth-child(3n) {
  border-right: none;
}

.bloque_texto {
  transition: 1s;
  float: left;
}

.bloque_texto:hover {
  width: 32%;
  cursor: pointer;
}
a .bloque_texto {
  color: #000;
}

.imgs_cat {
  position: relative;
  top: 0;
}

.titulo {
  color: aqua;
  font-size: 30px;
  font-style: italic;
}

.texto {
  color: blue;
  font-size: 15px;
}

.destacado {
  font-style: italic;
  font-weight: 800;
}

.border-bottom {
  border-bottom: 1px solid blue;
  padding-bottom: 20px;
}

.general {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  top: 100px;
}
.apartados {
  position: relative;
  width: 20%;
  background-color: rgba(211, 211, 211, 0.281);
  text-align: center;
  border-radius: 10px;
  padding-bottom: 50px;
  display: inline-block;
  margin-top: 10px;
  transition: 1s;
}
.apartados:hover {
  background-color: rgba(175, 174, 174, 0.582);
}
.apartados h2,
h3,
p {
  margin: 10px;
  text-align: left;
}
.apartados h2 {
  margin-top: 30px;
}
.img_bici {
  position: relative;
  margin: 0 auto;
  top: 10px;
  width: 90%;
  height: 200px;
  border-radius: 10px;
  background-image: url(imgs/bici.jpeg);
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
}

.icons {
  width: 30px;
}

.like {
  position: absolute;
  bottom: 10px;
  left: 60px;
  transition: 1s;
}
.like:hover {
  cursor: pointer;
  opacity: 0.8;
  width: 35px;
}

.comment {
  position: absolute;
  bottom: 10px;
  right: 60px;
  transition: 1s;
}
.comment:hover {
  cursor: pointer;
  opacity: 0.8;
  width: 35px;
}

.icon_1 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: aqua;
  background-image: url(https://es.wallapop.com/images/icons/ic-bump.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  right: 10px;
  top: 10px;
  transition: 1s;
}
.icon_1:hover {
  cursor: pointer;
  opacity: 0.8;
  width: 30px;
  height: 30px;
}

.wallapoplogo a {
  position: absolute;
  height: 100%;
  width: 100%;
}
.wallapoplogo {
  position: fixed;
  top: 30px;
  right: 50px;
  background-image: url(imgs/wallapop.png);
  background-size: 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: 1s;
}

.wallapoplogo:hover {
  opacity: 0.5;
  background-size: 60px;
  width: 60px;
  height: 60px;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: blue;
  z-index: 98;
}

.container {
  top: 80px;
  position: absolute;
  width: 100%;
  height: 100px;
}

.recuadro {
  position: relative;
  width: 40%;
  height: 300px;
  margin: 0 auto;
  background-color: red;
}
.recuadro:nth-child(even) {
  top: 100px;
  background-color: aqua;
  z-index: -2;
  overflow: hidden;
  margin-bottom: 100px;
}
.redondas {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  border: 10px solid red;
}
.redonda1 {
  left: -75px;
  top: -75px;
}
.redonda2 {
  right: -75px;
  top: -75px;
}
.redonda3 {
  left: -75px;
  bottom: -75px;
}
.redonda4 {
  right: -75px;
  bottom: -75px;
}

.pie {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: red;
  z-index: 99;
}

.recuadro_blanco {
  background-color: #fff;
  width: 50%;
  height: 300px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.lorem_grande {
  position: relative;
  top: 75px;
  font-size: 1.3em;
  z-index: 99;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.cuadrados_container {
  width: 500px;
  height: 500px;
  position: relative;
  top: 80px;
  background-color: red;
  margin: 0 auto;
  vertical-align: center;
}

.cuadrados {
  width: 250px;
  height: 250px;
  background-color: #fff;
  float: left;
  color: white;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}

.cuadrados i {
  font-size: 5em;
  line-height: 250px;
  transition: 1s;
}
.cuadrados:hover i {
  font-size: 5.5em;
  line-height: 250px;
}
.cuadrado1 {
  background-color: red;
}
.cuadrado2 {
  background-color: green;
}
.cuadrado3 {
  background-color: blue;
}
.cuadrado4 {
  background-color: black;
}

.list_1 li {
  list-style-type: square;
}

.table_container {
  border-left: 3px solid #000;
}
table {
  width: 70%;
  color: rgb(60, 60, 143);
  margin: 0 auto;
  margin-top: 80px;
  font-family: helvetica;
}

table,
th,
td {
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 0;
  margin: 0;
}

.text_center {
  text-align: center;
}

.table_cliente {
  text-align: left;
  border-left: 10px solid rgb(157, 241, 241);
  border-right: 10px solid rgb(157, 241, 241);
}
.table_cliente h3,
.table_cliente p {
  text-align: left !important;
}

table tr th hr {
  border-top: 2px solid rgb(157, 241, 241);
}

.table_info tr td {
  padding: 0 !important;
  margin: 0 !important;
}

.table_info th {
  background-color: rgb(157, 241, 241);
  color: #000;
}
.table_info p {
  margin: 5px 0;
}
.table_info td p {
  margin: 0;
  padding: 10px 0;
  border: 0;
  vertical-align: baseline;
}

.table_linebottom {
  border-bottom: 5px solid rgb(157, 241, 241);
}

tr img {
  width: 300px;
  text-align: left;
}

tr td:last-child p,
tr td:last-child h3,
tr th:last-child h3 {
  text-align: right;
}

/* Pseudo */

.campo {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  background-color: #fff;
  width: 80%;
  height: 400px;
}
.fila {
  width: 100%;
  background-color: #fff;
}
.fila div {
  box-shadow: inset 0 0 0 3px beige;
  margin: 0;
  padding: 0;
  float: left;
  background-color: lightgray;
  width: 16.666%;
  height: 100px;
  transition: 1s;
}
.fila div:hover {
  background-color: red;
  box-shadow: inset 0 0 0 3px rgb(255, 140, 140);
}
.fila div {
  text-align: center;
}

.fa-bomb {
  line-height: 100px !important;
  font-size: 3em !important;
  color: #fff;
  opacity: 0;
  transition: 1s;
}
.mina:hover .fa-bomb {
  opacity: 1;
  color: lightgray;
}

/* Ejercicio 12 */

* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.cpostal {
  text-indent: 2em;
}

/* Borrar el float despues de las columnas (ROW) */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Distribución responsiva */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .cpostal {
    text-indent: 0;
  }
}

/* Ejercicio 11 */

.linktoform {
  text-decoration: none;
  color: black;
  transition: 1s;
}
.linktoform:hover {
  opacity: 0.5;
}

/* Ejercicio 9 */

.textarea {
  width: 25%;
}

.textarea p {
  font-family: "Oldenburg", cursive;
}

.textarea p::first-letter {
  font-size: 3em;
}

.textarea p::first-line {
  color: rgb(139, 38, 38);
}
