div.boton {
  width: 100px;
  height: 100px;
  background-color: grey;
  display: inline-block;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  padding-top: 10px;
}
i.icono {
  font-size: 80px;
  color: #fff;
}

i.icono.oculto {
  display: none;
}
