.recuadro {
  border: 2px solid black;
  padding: 10px;
  width: auto;
  height: auto;
  text-align: center;
  display: inline-block;
}

.bola-bingo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 150px;
  margin-top: 10px;
  border: 1px solid black;
}
