.bola-roja {
  width: 50px;
  height: 50px;
  background-color: red;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
}

.cuadrado-rojo {
  width: 50px;
  height: 50px;
  background-color: red;
  display: inline-block;
  margin: 5px;
}
